<main class="main-content">
  <div class="success" *ngIf="successMsg">
    {{ successMsg }}
  </div>
  <div class="error" *ngIf="errorMsg">
    {{ errorMsg }}
  </div>
  <h1>Consulta</h1>

  <div>
    <button (click)="newRegister()">Novo</button>
  </div>

  <div>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>Gênero</th>
          <th>Data de nascimento</th>
          <th>Estado</th>
          <th>Linguagens</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers">
          <td>{{ customer.id }}</td>
          <td>{{ customer.name }}</td>
          <td>{{ customer.lastName }}</td>
          <td>{{ customer.gen }}</td>
          <td>{{ customer.birthDate }}</td>
          <td>{{ customer.state }}</td>
          <td>{{ customer.linguages }}</td>
          <td>
            <button routerLink="/customers/form/{{ customer.id }}">
              Editar
            </button>
            <button (click)="deleteCustomer(customer)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
